/* 
    Author: Michael vaughn Jireh Bendal
*/

*{
    font-family: Arial, Helvetica, sans-serif; 
}

.header 
    {
    background-color: #4ABDAC;
    /*Remove border after*/
    /* border: 5px solid black; */
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    }

    .title-profile 
    {
    display: inline;
    width: 50%;
    border: 1px;
    text-shadow: 1.5px 1.5px #BFAFB2;
    }

/*p*/
.p
{

      text-shadow: 1.5px 1.5px #BFAFB2;
	
}
/*LOGO*/
#logo 
    {
    color: whitesmoke;
    font-size: 75px;
    float: left;
    /* border: 2px solid black; */
    }

.clearfix 
    {
    clear: both;
    }
/*for texts in menu and logo*/
a:visited 
    {
    text-decoration: none;
    color: rgb(252, 252, 252);
    }

a:active 
    {
    text-decoration: underline;
    }

a:link 
    {
    text-decoration: none;
    color: azure;
    }

/*menu class*/

.menu {
    font-size: 25px;
    /* border: 5px solid black;
    border-width: 50%; */
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
    /* border-color: black; */
    border: 2px;
}

.menu {
    text-align: center;
}

.menu ul li a:hover {
    color: #8DE3C7;
    text-decoration: underline;
}

/*Search Bar*/
.search {
    float: right;
}

/* Profile Picture */
#profile-picture {
    border-radius: 50%;
    width: 100px;
    float: right;
    line-height: 10px;
    border: 1px solid black;
    display: inline;
    line-height: 50%;
}

.footer 
{
    bottom: -200px;
	background-color: #DBDBDB;
    position: relative;
	padding-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 40px;
}

#title
{
    text-shadow: 1px 1px #BFAFB2;
    font-family:arial; 
    color:#4ABDAC; 
    font-size:50px;
    position: relative; top: -30px; left: 150px;	   
}

.label
{
    border-radius: 2px;
    border:1px solid white;
    height: auto; 
    width: 750px;
    font-family: arial;
    font-size: 35px;
    margin: auto;
}

.main
{
	border-radius: 75px;
	background: #FFFFFF;
	width:800px;
	height:750px;
	border:1px solid #DBDBDB;
    position: relative;  
    margin: auto;
}

.tag
{
    background: #8DE3C7;
    border: 1px solid white;
    border-radius: 10px;
    position: relative; left: 70px; top: 80px;
    width: 650px;
    height: auto;
    padding-left: 20px;
    font-family: Arial;
    font-size: 25px;
    text-align: left;
    text-shadow: none;
}

.tag2
{
    font-family: Arial;
    font-size: 30px;
    text-align: left;
    border: 1px solid white;
    border-radius: 2px;
    position: relative; left: 300px; top: 120px;
    padding-left: 20px;
    width: 160px;
    height: auto;
    text-shadow: none;
}

.tag3
{
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    border: 1px solid white;
    border-radius: 2px;
    position: relative; left: 225px; top: 110px;
    width: 330px;
    padding-left: 20px;
    height: auto;
    text-shadow: none;
}


.textbox
{
    font-family: Arial;
    font-size: 25px;
    text-align: left;
    border-radius: 2px;
    position: relative; left: 350px; top: 100px;
    width: 85px;
    height: auto;
    text-shadow: none;
    padding-left: 5px;
}

.proceed
{
    font-size:25pt; 
    border:1px solid #F5F5F5; 
    border-radius: 3px; 
    height: 70px; 
    width: 180px;
    position: relative; left: 320px; top: 200px; 
}